*
!.gitignore
!.gitattributes
!README.md
!LICENSE
!cabal.project
!garden-of-afterlight.cabal
!src/
!src/**/
!src/**/*.hs
!tools/
!tools/*.hs
!tools/fixtures/
!tools/fixtures/garden-v3.txt
!.agents/
!.agents/skills/
!.agents/skills/haskell-excellence/
!.agents/skills/haskell-excellence/**/
!.agents/skills/haskell-excellence/**/*.md
!.agents/skills/haskell-excellence/agents/openai.yaml
!.agents/skills/haskell-excellence/LICENSE
!.agents/skills/fp-gamedev/
!.agents/skills/fp-gamedev/**/
!.agents/skills/fp-gamedev/**/*.md
!.agents/skills/fp-gamedev/agents/openai.yaml
!.agents/skills/fp-gamedev/LICENSE
!web/
!web/*.hs
!web/*.c
!web/*.py
!web/*.vs
!web/*.sh
!web/*.nix
!web/*.md
!web/wasm-link
!web/cabal.project
!web/cabal.project.template
!web/flake.lock
!web/patches/
!web/patches/*.patch
!web/patches/*.md
!web/patches/*.txt
!web/checks/
!web/checks/*.c
!web/checks/*.py
!web/host/
!web/host/package.json
!web/host/package-lock.json
!web/host/README.md
!web/host/*.c
!web/host/*.js
!web/host/src/
!web/host/src/*.js
!web/host/test/
!web/host/test/*.mjs
!web/host/public/
!web/host/public/index.html
