*
!.gitignore
!README.md
!LICENSE
!cabal.project
!garden-of-afterlight.cabal
!src/
!src/**/
!src/**/*.hs
!tools/
!tools/*.hs
!tools/fixtures/
!tools/fixtures/garden-v3.txt
!.agents/
!.agents/skills/
!.agents/skills/haskell-excellence/
!.agents/skills/haskell-excellence/**/
!.agents/skills/haskell-excellence/**/*.md
!.agents/skills/haskell-excellence/agents/openai.yaml
!.agents/skills/haskell-excellence/LICENSE
!.agents/skills/fp-gamedev/
!.agents/skills/fp-gamedev/**/
!.agents/skills/fp-gamedev/**/*.md
!.agents/skills/fp-gamedev/agents/openai.yaml
!.agents/skills/fp-gamedev/LICENSE
